[Unit]
Description=Demo Service
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/azureuser/.a/graphrag_kit
ExecStart=bash start.sh
Type=simple
Restart=always
RestartSec=5
User=root
StartLimitAction=reboot
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
